<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>reddit rAInger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-5" style="border-color: #FF4500 !important">
            <a href="http://localhost:3000/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="../static/RAIngerlogo.bmp" width="50" class='mx-2'/>
                <span class="fs-4">reddit r<b>AI</b>nger</span>
            </a>
        
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://localhost:3000/" class="nav-link" aria-current="page" style="color: black !important">Home</a></li>
                <li class="nav-item"><a href="http://localhost:3000/about" class="nav-link" style="color: black !important">About</a></li>
                <li class="nav-item"><a href="https://github.com/LegoMasterBuilder/CS-180-AI-Final-Project.git" class="nav-link" style="color: black !important">GitHub</a></li>
            </ul>
            </header>
        </div>

        <div class="small-4 medium-4 large-4 columns text-center p-5 mx-5">
            <h1 class="p-3">Something's not right.</h1>
            <div class="m-4">
                <p>Please enter a valid title.</p>
            </div>

            <div class="d-grid col-3 mx-auto" style="max-width: 200 !important">
                <a href="http://localhost:3000/"><button class="btn btn-primary rounded-pill p-3" style="background-color: #FF4500 !important; border: none">Go Back</button></a>
            </div>
        </div>

        <div class="container footer fixed-bottom" style='z-index: -9999'>
            <div class="py-3 my-4">
              <div class="nav justify-content-center border-bottom pb-1 mb-3">
                <p>reddit r<b>AI</b>nger</p>
              </div>
              <p class="text-center text-muted">Classifying Reddit Titles using Naive Bayesian Classifier</p>
              <p class="text-center text-muted">Copyright © 2023</p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>