<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>reddit rAInger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-5" >
            <a href="http://localhost:3000/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">reddit rAInger</span>
            </a>
        
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://localhost:3000/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#" class="nav-link">GitHub</a></li>
            </ul>
            </header>
        </div>

        <div class="small-4 medium-4 large-4 columns text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-circle-fill img-responsive p-3" viewBox="0 0 16 16" style="max-width: 300">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
        
            <h1 class="p-3">SFW!</h1>
            <div class="m-4">
                <p>Yehey! You can safely proceed to enjoy your browsing.</p>
            </div>

            <div class="d-grid col-3 mx-auto" style="max-width: 200 !important">
                <button class="btn btn-primary rounded-pill p-3" style="background-color: #FF4500 !important; border: none" href="http://localhost:3000/" >Check another</button>
            </div>
        </div>

        <div class="container fixed-bottom">
            <footer class="py-3">
                <p class="justify-content-center border-bottom pb-3 mb-3 fw-bolder fs-4" style="text-align: center;">#KeepingRedditSafeForWork</p>
                <p class="text-center text-muted">© 2023</p>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>